<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Guess the song challenge - Lovelyz">
    <meta name="author" content="Jung JongYoon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>노래 1초 듣고 맞추기 - 러블리즈</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
